<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>


</head>
<body>
    <h1>To do List</h1>
    <form action="/addTodoItem/" method="post"> {% csrf_token  %}
        <input type="text" name="content" placeholder="Input Todo item">
        <input type="submit" value="Add Todo Item">
        <br>


    </form>
    <ul>
        {% for item in allItems %}
        <li>{{item.content}}
            <form action="/clearTodoItem/{{ item.id }}/" method="post"> {% csrf_token  %}
                <input type='submit' name='item' value="Delete" >
            </form>
        </li>
        {% endfor %}

    </ul>

</body>
</html>